<% content_for :title do %>
  Register for Flood Alerts
<% end %>

<form class='form form-vertical' action='/subscribe' method='post'>
  <% [:name, :postcode, :number].each do |field| %>
  <div class='form-group <%= 'has-error' unless @subscriber.errors[field].empty? %>'>
    <label for='name'><%= field.capitalize %></label>
    <input type='text'
           name='<%= field %>'
           value='<%= @subscriber.send(field) %>'
           class='form-control'
           required='true'>
    <span class='help-block'><%= @subscriber.errors[field].first %></span>
  </div>
  <% end %>
  <input type='submit' value='Subscribe' class='btn btn-primary'>
</form>
