<div class='row'>
  <div class='col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 '>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4>Register for Flood Alerts</h4>
      </div>
      <div class='panel-body'>
        <form class='form form-vertical' action='/subscribe' method='post'>
          <div class='form-group <%= 'has-error' unless @subscriber.errors[:name].empty? %>'>
            <label for='name'>Name</label>
            <input type='text'
                   name='name'
                   value='<%= @subscriber.name %>'
                   class='form-control'
                   placeholder='John Doe'
                   required='true'>
            <span class='help-block'><%= @subscriber.errors[:name].first %></span>
          </div>
          <div class='form-group <%= 'has-error' unless @subscriber.errors[:postcode].empty? %>'>
            <label for='postcode'>Postcode</label>
            <input type='text'
                   name='postcode'
                   value='<%= @subscriber.postcode %>'
                   class='form-control'
                   placeholder='E1'
                   required='true'>
             <span class='help-block'><%= @subscriber.errors[:postcode].first %></span>
          </div>
          <div class='form-group <%= 'has-error' unless @subscriber.errors[:number].empty? %>'>
            <label for='number'>Phone number</label>
            <input type='number'
                   name='number'
                   value='<%= @subscriber.number %>'
                   class='form-control'
                   placeholder='447555555555'
                   required='true'>
           <span class='help-block'><%= @subscriber.errors[:number].first %></span>
          </div>
          <input type='submit' value='subscribe' class='btn btn-primary'>
        </form>
      </div>
    </div>
  </div>
</div>
