<% content_for :title do %>
  Register for Flood Alerts
<% end %>

<%
  fields = {
    name: 'John Doe',
    postcode: 'E1',
    number: '447555666777'
  }
%>

<form class='form form-vertical' action='/subscribe' method='post'>
  <% fields.each do |field, placeholder| %>
  <div class='form-group <%= 'has-error' unless @subscriber.errors[field].empty? %>'>
    <label for='name'><%= field.capitalize %></label>
    <input type='text'
           name='<%= field %>'
           value='<%= @subscriber.send(field) %>'
           class='form-control'
           required='true'
           placeholder='<%= placeholder %>'>
    <span class='help-block'><%= @subscriber.errors[field].first %></span>
  </div>
  <% end %>
  <input type='submit' value='Subscribe' class='btn btn-primary'>
</form>
